@model User 
@{
    ViewData["Title"] = "Home Page";
}
<table class="table table-bordered-">
    <thead>
        <tr>
            <th>Email</th>
            <th>Password</th>
            <th>Age</th>
        </tr>
    </thead>
    <thead>
            <tr>
                <td>@Model.Email</td>
                <td>@Model.Password</td>
                <td>@Model.Age</td>
            </tr>

        <tr></tr>
    </thead>
</table>
